{% extends 'base.html' %}

{% block title %}
    
{% endblock %}
    
{% block content %}
    <h1>Family members list</h1>    
        <form class="form-inline my-2 my-lg-0" action="/fam-list" method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    
    
    <table border="1">
        {% for family in Family %}
        <tr>
            <td>Name: {{family.name}} </td>
            <td>Age: {{family.age}} </td>
            <td>Works/Study: {{family.work}} </td>
    {% endfor %}
    </table>
    <br><h4>Add Relative </h4> <a href="add-member" class="btn btn-primary">ADD</a>
{% endblock %}