{% extends 'base.html' %}

{% block title %}
    Index
{% endblock %}

{% block content %}
    <h1>Vehicles list</h1>
    <form class="form-inline my-2 my-lg-0" action="/v-list"  method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <table border="1">
        {% for vehicles in Vehicle %}
        <tr>
            <td>Brand: {{vehicles.Brand}} </td>
            <td>Model: {{vehicles.Model}} </td>
            <td>Colour: {{vehicles.Colour}} </td>
    {% endfor %}
    </table>
    <br><h4>Add Veichle </h4> <a href="/v-list/add-vehicle" class="btn btn-primary">ADD</a>
{% endblock %}
  
